<!DOCTYPE html>
<html>
    <head>
        <title>测试首页</title>
        <!-- build:css /static/css/rave/style.css -->
        <link rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" href="/static/css/detail.css"/>
        <!-- endbuild -->
    </head>
    <body>
        <div class="detail">
        </div>
        <script type="text/javascript" src="../static/js/esl.js"></script>
        <script type="text/javascript">
        require.config({baseUrl: '/static/js'});
        require(['home/index'], function(a) {
            a.init()}
        )
        </script>
    </body>
</html>