<!DOCTYPE html>
<html>
    <head>
        <title>测试首页</title>
        <!-- build:css /static/css/rave/style.css -->
        <link rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" href="/static/css/detail.css"/>
        <!-- endbuild -->
    </head>
    <body>
        <div class="detail">
            <img src="/static/img/a.jpg" />
        </div>
        <script type="text/javascript" src="/static/js/esl.js"></script>
        <script type="text/javascript">
            require.config({baseUrl: '/static/js'});
        </script>
        <!-- build:js /static/js/rave/main.js -->
        <script type="text/javascript" src="/static/js/home/index.js"></script>
        <!-- endbuild -->

        <!-- build:remove -->
        <script type="text/javascript">

            require(['home/index'], function (mod) {
                mod.init();
            });
        </script>
        <!-- endbuild -->
    </body>
</html>